
<!--[if lt IE 9]>
<!--<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>-->
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!--<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>-->
<script src="//cdn.bootcss.com/modernizr/2010.07.06dev/modernizr.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<!--<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>-->
<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<!--<![endif]-->
<script src="/javascripts/amazeui.min.js"></script>
<script src="/javascripts/app.js"></script>
<!--<script src="https://unpkg.com/vue@2.1.4/dist/vue.min.js"></script>-->
<script src="//cdn.bootcss.com/vue/2.1.4/vue.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>-->
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>

<script src="/javascripts/messenger.min.js"></script>
<script src="../javascripts/My97DatePicker/WdatePicker.js"></script>
<script>
    //右下角弹窗提示
    var showTip = function (message) {
        $._messengerDefaults = {
            extraClasses: 'messenger-fixed messenger-theme-air messenger-on-bottom messenger-on-right'
        }
        $.globalMessenger().post({
            message: message,
            hideAfter: 2,
            showCloseButton: true
        });
    }
</script>
<style>
    #vld-tooltip {
        position: absolute;
        z-index: 1000;
        padding: 5px 10px;
        background: #F37B1D;
        min-width: 150px;
        color: #fff;
        transition: all 0.15s;
        box-shadow: 0 0 5px rgba(0,0,0,.15);
        z-index: 9999999999999;
        display: none;
    }

    #vld-tooltip:before {
        position: absolute;
        top: -8px;
        left: 50%;
        width: 0;
        height: 0;
        margin-left: -8px;
        content: "";
        border-width: 0 8px 8px;
        border-color: transparent transparent #F37B1D;
        border-style: none inset solid;
        z-index: 9999999999999;
    }
</style>
</body>
</html>