
<!--[if lt IE 9]>
<!--<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>-->
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!--<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>-->
<script src="//cdn.bootcss.com/modernizr/2010.07.06dev/modernizr.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<!--<script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>-->
<script src="//cdn.bootcss.com/jquery/1.9.1/jquery.min.js"></script>
<!--<![endif]-->
<script src="/javascripts/amazeui.min.js"></script>
<script src="/javascripts/app.js"></script>
<!--<script src="https://unpkg.com/vue@2.1.4/dist/vue.min.js"></script>-->
<script src="//cdn.bootcss.com/vue/2.1.4/vue.min.js"></script>
<!--<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>-->
<script src="//cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js"></script>
<script src="/javascripts/report.js"></script>
<script src="/javascripts/messenger.min.js"></script>
</body>
</html>