<div class="am-g" id="searchDatas">
    <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
                <button type="button" class="am-btn am-btn-primary" v-on:click="addNewData">
                    <span class="am-icon-plus"></span> 新增
                </button>
                <button type="button" class="am-btn am-btn-danger" v-on:click="deleteCheckBox"><span
                            class="am-icon-trash-o"></span> 删除
                </button>
                <button type="button" class="am-btn am-btn-success"><span class="am-icon-angle-double-left"></span> 上级部门
                </button>
            </div>
        </div>
    </div>
    <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
            <input type="text" v-model="datas.searchId" class="am-form-field" placeholder="输入部门名称搜索">
            <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button" v-on:click="showDatas()">搜索</button>
          </span>
        </div>
    </div>
</div>
<div class="am-g">
    <div class="am-u-sm-12">
        <form class="am-form" id="organize_list">
            <table class="am-table am-table-striped am-table-hover table-main am-table-bordered am-table-radius ">
                <thead>
                <tr>
                    <th class="table-check"><input type="checkbox" v-on:click="checkAll()"/></th>
                    <th>部门编码</th>
                    <th>部门名称</th>
                    <th>部门负责人</th>
                    <th>允许编辑</th>
                    <th>允许删除</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="items in datas" :key="items.id">
                    <td><input type="checkbox" v-bind:value="items.id" v-model="checkedIds"/></td>
                    <td v-text="items.F_EnCode"></td>
                    <td><a href="#" v-text="items.F_FullName"></a></td>
                    <td><a href="#" v-text="items.F_ManagerName"></a></td>
                    <td><a href="#" v-if="items.F_AllowEdit == '0'">否</a>
                        <a href="#" v-else>是</a></td>
                    <td><a href="#" v-if="items.F_AllowDelete == '0'">否</a>
                        <a href="#" v-else>是</a></td>
                    <td>
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <a class="am-btn am-btn-primary" role="button"
                                   v-on:click="organizeEdit(items.id)"><span
                                            class="am-icon-pencil-square-o"></span> 编辑
                                </a>
                                <a class="am-btn am-btn-danger" href="#"
                                   v-on:click="deleteReports(items.id)" role="button"><span
                                            class="am-icon-trash-o"></span> 删除</a>
                                <a href="#" role="button" class="am-btn am-btn-warning"><span
                                            class="am-icon-angle-double-right"></span> 下级部门</a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="am-cf">
                共 <label v-text="dataCount"></label> 条记录
            </div>
        </form>
        <div class="am-cf">
            <div class="am-fr">
                <ul class="am-pagination" id="page_bar">
                    <li v-if="showFirst"><a href="#" v-on:click="prePages()">«</a></li>
                    <li v-for="index in indexs" v-bind:class="{ 'am-active': cur == index}">
                        <a href="#" v-on:click="changePages(index)" v-text="index"></a>
                    </li>
                    <li v-if="showLast"><a href="#" v-on:click="nextPages()">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>