<div class="am-modal-dialog">
    <div class="am-modal-hd">新增用户
        <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
        <form class="am-form am-form-horizontal" method="post" id="user_new">
            <fieldset>
                <div class="am-form-group">
                    <label class="am-u-sm-3">姓名</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="am-input-sm" v-model="datas.user_realname"
                               placeholder="请输入姓名" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">用户名</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="am-input-sm" v-model="datas.user_account"
                               placeholder="请输入用户名" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">密码</label>
                    <div class="am-u-sm-9">
                        <input type="password" class="am-input-sm" v-model="datas.user_password"
                               placeholder="请输入密码" required>
                    </div>
                </div>

                <div class="am-form-group">
                    <label class="am-u-sm-3">部门</label>
                    <div class="am-u-sm-9">
                        <select class=" am-input-sm" v-model="datas.user_dept_id" required>
                            <option value="0">非重点目录</option>
                            <option value="1">重点目录</option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">岗位</label>
                    <div class="am-u-sm-9">
                        <select class=" am-input-sm" v-model="datas.user_duty_id" required>
                            <option value="0">非重点目录</option>
                            <option value="1">重点目录</option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">角色</label>
                    <div class="am-u-sm-9">
                        <select class=" am-input-sm" v-model="datas.user_role_id"
                                required>
                            <option value="0">非重点目录</option>
                            <option value="1">重点目录</option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">是否启用</label>
                    <div class="am-u-sm-9">
                        <select class=" am-input-sm" v-model="datas.user_enable" required>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">性别</label>
                    <div class="am-u-sm-9">
                        <select class=" am-input-sm" v-model="datas.user_gender"
                                required>
                            <option value="0">男</option>
                            <option value="1">女</option>
                        </select>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">手机</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="am-input-sm" v-model="datas.user_phone"
                               placeholder="请输入手机" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">生日</label>
                    <div class="am-u-sm-9">
                        <input type="datetime" class="am-input-sm" v-model="datas.user_birthday" data-am-datepicker
                               placeholder="请输入生日" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">邮箱</label>
                    <div class="am-u-sm-9">
                        <input type="text" class="am-input-sm" v-model="datas.user_email"
                               placeholder="请输入邮箱" required>
                    </div>
                </div>
                <div class="am-form-group">
                    <label class="am-u-sm-3">备注</label>
                    <div class="am-u-sm-9">
                        <textarea rows="3" placeholder="请输入备注" v-model="datas.user_remark"></textarea>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-10 am-u-sm-offset-2">
                        <button type="submit" class="am-btn am-btn-secondary am-radius" data-am-modal-close>取消</button>
                        <a class="am-btn am-btn-success am-radius" v-on:click="saveDatas('doc-modal-1')">提交</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>