<!--引入头部页-->
<%- include('../header') %>
<body>
<!-- content start -->
<div class="admin-content">
    <div class="admin-content-body" id="reportDataShows" >
        <div class="am-cf am-padding am-padding-bottom-0">
          <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">系统设置</strong> /
                <strong class="am-text-primary am-text-sm">统计查询</strong>/<small v-text="fname"></small>
            </div>
        </div>
        <hr>
        <div class="am-g" id="searchDatas" >
            <div class="am-u-sm-12">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs" v-html="fShowCondition" >
                    </div>
                    <input type="text" id="ids">
                </div>
            </div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form" id="user_list">
                    <div class="am-scrollable-horizontal">
                        <h2 class="am-titlebar-title " style="text-align: center" v-text="ftitle">
                        </h2>
                        <h3 class="am-titlebar-title" v-bind:style="{textAlign:fsecShowType}" v-html="fsectitle"></h3>

                        <table class="am-table am-table-striped am-table-hover table-main am-table-bordered am-table-radius am-text-nowrap ">
                            <thead>
                            <tr>
                                <th  v-for="items in fDataHeads" v-text="items.F_NAME" v-bind:style="{width:items.F_WIDTH+'px',height:items.F_HEIGHT+'px',textAlign:items.F_ALIGN}" ></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="data in fShowDatas" >
                                <td v-for="items in fDataHeads" v-bind:style="{width:items.F_WIDTH+'px',height:items.F_HEIGHT+'px',textAlign:items.F_ALIGN}"
                                    v-text="data.{{items.F_CODE}}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <h3 class="am-titlebar-title" v-bind:style="{textAlign:ffoottitleshowtype}" v-html="ffoottitle"></h3>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--引入底部页-->
<%- include('../footer') %>
<script src="../javascripts/reportShows.js"></script>
</body>
</html>
